
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>CREAR PEDIDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://picsum.photos/200/300?random=1"></ion-img>
      </ion-avatar>
      <ion-label>
        <h1>Bienvenido</h1>
        <h2>User.!</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <br>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount  | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 <ion-list>
  <ion-card *ngFor="let p of platos">
    <ion-avatar>
      <ion-img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80"></ion-img>
    </ion-avatar>
     <ion-card-header>
      <ion-card-title>{{ p.name }}</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <ion-row class="ion-aling-items-center">
         <ion-col size="8">
           <ion-label color="secondary">
             <b>{{ p.price | currency:'USD' }}</b>
           </ion-label>
         </ion-col>
         <ion-col size="4" class="ion-text-right">
           <ion-button fill="clear" (click)="addToCart(p)">
             <ion-icon name="add"></ion-icon>
           </ion-button>
         </ion-col>
       </ion-row>
     </ion-card-content>
  </ion-card>
 </ion-list>
 <ion-button (click)="Onlogout()">Desconectarse</ion-button>
</ion-content>

