<ion-header>
  <ion-toolbar color="danger">
    <ion-title>lista de Platos</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content padding>
  <ion-img width="80" height="80" class="icon" src="assets/icon/logoMI2.png"></ion-img>
</ion-content>

<ion-content padding>
  <ion-card class="md hydrated">
    <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80">
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Plato 1</ion-card-subtitle>
      <ion-card-title>Plato Corriente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card class="md hydrated">
    <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80">
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Plato 2</ion-card-subtitle>
      <ion-card-title>Platos Asados</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card class="md hydrated">
    <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80">
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Plato 3</ion-card-subtitle>
      <ion-card-title>Platos Comida Rapida</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
</ion-content>
