<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/logoMI2.png">
</ion-content>

<ion-content padding>
<ion-item>
  <ion-label position="floating">Correo Electronico</ion-label>
  <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
</ion-item>
<br>
<ion-button (click)="OnSubmitLogin()" expand="block">Ingresar</ion-button>

<h3>email: {{email}}</h3>
<h3>pass: {{password}}</h3>
</ion-content>
